pandas
numpy
scikit-learn
imbalanced-learn
matplotlib
seaborn
jupyter
notebook
ipykernel
joblib
xgboost
fastapi
uvicorn
streamlit
mlflow
pyspark
snowflake-connector-python
python-dotenv
